body {
    background: #E7E7E7 url('body.jpg') top lefti;
    font-size: 12px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color:#564b47;
    padding:8px;
    margin:0px;
}
a {color: #DB7093;}
a:visited {color:#c43300;}
a:hover {color: #c43300;}
a:active { color:#000000;}

a:link{
	font: bold 1em Verdana, Arial, Helvetica, sans-serif;
	color: #9A1212;
	text-decoration: none;
	text-align: left;
	/*font-size: medium;*/
 }

h1 {
    font-size: 11px;
    text-transform:uppercase;
    margin:0px 
}
h2 {
    color: #9A1212;
    font-size:20px;
    font-weight: normal;
    padding: 5px 10px;
    margin:0px;
}

h2 {
    color: #9A1212;
    font-size:15px;
    font-weight: normal;
    padding: 5px 10px;
    margin:0px;
}


/*img.download {vertical-align:middle;}*/

/* ----------container to center the layout-------------- */
#container {
    width: 90%; /*780*/
    margin-left: auto;
    margin-right: auto;
    height:100%;
    background: #ffffff no-repeat bottom left; /*#E8E8E8*/
    /*border:1px solid #8D8D8D;*/
}

/* ----------banner for logo-------------- */
#banner {
    width:100%;
    height:114px;
    text-align: center;
    /*background: #ffffff;*/
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
}
#banner img {padding:10px 0px;} 

#bannertitle{padding-top:35px;
			font-size:3em;
			font-weight:bold;
			}

/* -----------------content--------------------- */
#content {
    background:#ffffff  url('content.jpg') no-repeat top right;
    padding: 0px;
    margin-left: 290px;
    margin-right: 10px;
	font-size:1.2em;
}
div#content { 
    min-height:600px;
    /*height:expression(this.scrollHeight > 600 ? "auto":"600px"); */
}

p, pre{
    padding: 5px 10px;
    margin:0px;
}

/* --------------left navi------------- */
#left {
    float: left;
    width: 290px;
    margin: 0px;
    padding: 0px;
    background:#ffffff;
    height:90%;
	text-align:center
}


#clustrmaps-widget{
    position:relative;
    margin-top:5cm;
	margin-left: 20px;
	margin-right: 20px;
}

/* -----------footer--------------------------- */
#footer {
    clear: both;
    margin: 0px;
    padding:0px;

    height:25px;
    text-align: right; 
    /*background:  url('footer.gif') repeat-x ;*/
}

#footer h1 a{
    color:#FFFFFF;
}

#footer h1{
    padding:5px 5px 0px 0px;
    color:#000000;
	text-align:right;
}

 /**********vertical menu***************/

.verticalmenu ul{
     list-style:none;
     /*list-style-image: url("bullet.gif");*/
     padding: 5px;
     margin: 5px;
}

.verticalmenu li, .verticalmenu a:visited, .verticalmenu a:hover {
   display: block;
   font: bold 1.5em Verdana, Arial, Helvetica, sans-serif;
   color: #9A1212;
   text-decoration: none;
   text-align:	center;
   width: 250px;
   height: 32px;
   margin-top:auto;
   /*background: url('menuhover.gif') no-repeat;*/
 }
 
 
.verticalmenu a:link{
   display: block;
   font: bold 1.1em Verdana, Arial, Helvetica, sans-serif;
   color: #9A1212;
   text-decoration: none;
   text-align: center;
   /*width: 140px;*/
   height: 32px;
 }


 .verticalmenu a:hover{
   background: no-repeat;
   color: #dc4d1b;
 }
 
 li{
   padding-bottom:5px; 
 }
 
